.buttonWrap {
  display: flex;
}

.toggleBtn {
  margin-left: auto;
  padding: 0;
  width: auto;
  border: none;
  color: black;
  background-color: white;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  text-align: left;
}

.toggleBtn:hover {
  border: none;
  color: #f300b4;
}

.toggleBtn:hover {
  padding: 0;
}
